<div class="ph3 pt4-ns o-100 fl w-100 center z-999">
  <h2 class="center mw6 f2 b lh-title tc black bg-highlight">{{.intro.heading}}</h2>
</div>

<div class="bg-off-white pv4 center">


    <div class="w-90-l bg-grey-1 center pb5 pb4-l mt3-ns">
      <div class="cf center mb3">
        {{ range .services }}
        <div class="w-33-l fl ph3-ns mt4-l height-44 flex flex-column items-center justify-between">
          <div style="justify-content: normal;">
          <picture>
            <source srcset="{{ .webp }}" type="image/webp">
            <source srcset="{{ .image }}" type="image/webp">
            <img src="{{.image}}" alt="{{.heading}}" class="db fit-contain mb3 mt4 mw5 pt2-l center" style="width: 300px">
          </picture>
          <h3 class="f4 b pa2 mb2 tc black bg-highlight mw5 center">{{ .heading }}</h3>
          <p class="center pa3">{{.text}}</p>
          </div>
          <div class="mb2-ns db center tc w5 raise" style="align-self: flex-end;">
            <a href="{{ .link }}" class="btn">{{ .button }}</a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
