<div class="ph3 pt-2 pb-2 pb-0-ns pt4-ns o-100 fl w-100 center absolute z-999">
  <h2 class="center mw6 f2 b lh-title tc black bg-highlight">{{.intro.heading}}</h2>
</div>

<div class="bg-off-white pv4 center">


    <div class="ph3 w-100 w-90-l bg-grey-1 center relative pt2 pb3 mt4-ns">
    <div class="flex-l mw7 center mhn2-s mb3">
      {{ range .services }}
      <div class="ph4-ns w-50-l">
        <img src="{{.image}}" alt="" class="center db mb3 mt4 pt2-l" style="width: 300px">
        <h3 class="f4 b lh-title mb2 l black bg-highlight">{{ .heading }}</h3>
        <p class="pb2-l">{{.text}}</p>
        <div class="tc fl mb2-ns bottom-0-l absolute-l">
          <a href="{{ .link }}" class="btn raise">{{ .button }}</a>
        </div>
      </div>
      {{ end }}
    </div>

    
  </div>
</div>
