<div class="mw9 center cf overflow-hidden bg-primary mb4">
  {{ with .banner }}
  <video autoplay muted loop class="fit-contain dib w-50-ns w-100">
    <source src="{{ .squareWebm }}" type="video/webm">
    <source src="{{ .squareMp4 }}" type="video/mp4">
  </video>
  {{ end }}
  <div class="w-50-ns pv5-l pa3 fl-ns">
    <div class="db mb3">
      <div class="relative tl mb3">
        
        <h1 class="f9 f1 b lh-solid mb3 white mw6 bg-primary dn-l di">
          {{.titlesmall | safeHTML }}
        </h1>
      
        <h1 class="f9 f1 b lh-solid mb3 white mw6 bg-primary dn di-l ">
          {{.titlelarge | safeHTML }}
        </h1>
        
      </div>
      <div class="relative tl">
        {{ if .subtitle }}
        <p class="b f4 di lh-solid mb3 black mw6 bg-highlight">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
