<section class="mb6 mw10 center">
    <h2 class="f1 tc fw5 lh-title mb5">{{ .review.heading }}</h2>

    <div class="flex flex-wrap justify-around w-90-m w-100 center">
        <div class="pa3 w-33-l w-100 overflow-hidden">
            <span class="yelp-review" data-review-id="FrxHVt0ADXcsNU5DxLh5uw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=FGcg4zVWki1Nn9VG1gCh9A" rel="nofollow noopener">Imani W.</a>'s <a href="https://www.yelp.com/biz/asap-movers-waipahu?hrid=FrxHVt0ADXcsNU5DxLh5uw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/N9bjFObW5FtNgvKkd0U6ww" rel="nofollow noopener">ASAP Movers</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script></span>
        </div>

        <div class="pa3 w-33-l w-100 overflow-hidden">
            <span class="yelp-review" data-review-id="jxktagHsgd8BJwohvl00kg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=qE3CCKI3qd0wMP0Srfb23g" rel="nofollow noopener">Marionette P.</a>'s <a href="https://www.yelp.com/biz/asap-movers-waipahu?hrid=jxktagHsgd8BJwohvl00kg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/N9bjFObW5FtNgvKkd0U6ww" rel="nofollow noopener">ASAP Movers</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script></span>
        </div>   

        <div class="pa3 w-33-l w-100 overflow-hidden">
            <span class="yelp-review" data-review-id="XZ9fomS1ocCgDGBG5gnH1w" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=evwrkGEfQubV78-JeDe39w" rel="nofollow noopener">Micah Y.</a>'s <a href="https://www.yelp.com/biz/asap-movers-waipahu?hrid=XZ9fomS1ocCgDGBG5gnH1w" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/N9bjFObW5FtNgvKkd0U6ww" rel="nofollow noopener">ASAP Movers</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script></span>
        </div>
    </div>

</section>