{{ define "main" }}
<!--Services page-->
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.main }}

<div class="mw6 ph3 ma3 pa2 center">
    <h3 class="f3 b lh-title mb2 tc">{{ .heading }}</h3>
    <p>{{ .description }}</p>
</div>

{{ end }}

{{ range .Params.services}}
<h1 class="f3 b tc mb2 lh-title black bg-highlight w5-ns center mb3" >{{ .heading }}</h1>{{ end }}

<div class="w-60-l center ph3-ns mb4-ns mr5-l">
  <div class="flex-ns center">
    <div class="pa2 mw7 bg-grey-1 center f5 mb2 mb0-ns">
      <p>{{ .Content }}</p>
    </div>
    <div class="mw5 pa2 pl4 bg-highlight center f5 mb4 mb0-ns">
      <h3 class="b black">Our Services</h3>
      <ul class="list">{{ .Params.list | safeHTML }}</ul>
    </div>
  </div>
</div>



<div class="mw7 mh3 mb3-ns center">
  <h1 class="f3 b tc mb2 lh-title black bg-highlight mw5 center" >Read More About...</h1>
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>

</div>
<h1 class="f3 b tc mb2 lh-title black bg-highlight mw6 center">What Our Customers Are Saying</h1>
<div class="flex-l mb3-ns center w-75-l">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<div class="tc mb2">
  <a href="/contact" class="btn raise">Contact us today!</a>
</div>

{{end}}
