.privacy-policy h2 { 
    font-size: 1.5rem;
    font-weight: 700;
  }
.privacy-policy ul {
    margin: 1.5rem;
    list-style-type: disc;
}
@media (--breakpoint-large) {
  .height-44 {
    height: 44rem;
  }
}
@media (--breakpoint-not-small) {
  .width-38 {
    width: 38rem;
  }
}
@media (--breakpoint-large){
  .bannerHeight-l {
    height: 60rem;
  }
}
@media (--breakpoint-medium){
  .bannerHeight-m {
    height: 24rem;
  }
}